/.project
Domino-ApiRest/src/main/webapp/.idea/modules.xml
Domino-ApiRest/src/main/webapp/.idea/webapp.iml
Domino-ApiRest/src/main/webapp/.idea/webapp.iml
Domino-ApiRest/src/main/webapp/.idea/workspace.xml
*.xml
