<head>
    <meta charset="utf-8">
    <title>Confirmar Pedido</title>
    <link rel="stylesheet" type="text/css" href="../css/iniciarSesionStyles.css">
</head>


<div class = "container-fluid">

    <header class="page-header">
        <h1>Pedido</h1>
        <h3>Pizzas</h3>
    </header>

    <div class="row">
        <div data-ng-repeat="plato in pedido.getCollecionDePlatos()">
            <div  data-toggle="tooltip" title={{plato.nombreDeIngredientes()}}>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3" >
                    <div class="panel price panel-grey">
                        <div class="panel-heading arrow_box text-center">
                            <h3>{{plato.nombreDePizza()}}</h3>
                        </div>
                        <div class="text-center">
                            <p class="lead" style="font-size:40px"><strong>$ {{plato.getCalcularPrecioConIngredientes()}}</strong></p>
                        </div>
                        <ul class="list-group list-group-flush text-center">

                        </ul>
                        <div class="panel-footer">
                            <button type="button" class="btn btn-lg btn-block btn-danger" name="cancelar" ng-click="pedido.cancelarPlato(plato)" >X</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <a ui-sref="pizzaSelector">Agregar otra Pizza</a>

        <hr>

        <h3>Aclaraciones</h3><br>
        <input ng-model="pedido.pedido.aclaracion" type="text" name="aclaraciones" placeholder="Escriba aqui su aclaracion" >
        <hr>
    </div>

    <div name = "contenedorRadioSelectors">
        <h3>Envio </h3><br>
        <form name= "radioSelectors">
            <input  style="float:left;" type="radio" ng-model="pedido.nombreDeRetiro" value="Local" name="formaDeEnvio" ng-click="pedido.setFormaDeRetiro()" ><p>Por Local</p><br>

            <input  style="float:left;" type="radio" name="formaDeEnvio" ng-model="pedido.nombreDeRetiro" value="Delivery" ng-click="pedido.setFormaDeRetiro()"><p  style="float:left;" > Delivery</p>
            <input style=" margin-left: 10px" type="text" name="direccionDeDelivery" placeholder="Escriba aqui su direccion" ng-model="pedido.formaDeRetiro().direccion" ng-disabled="pedido.isNotDelivery()">
        </form>
        <span style="float:left; margin-left: 10px">Recargo por Envio: $ {{pedido.recargoPorEnvio()}} </span>
    </div>

    <br>
    <hr>

    <div style="padding-bottom: 10px">
        Total A Pagar: <span class="label label-primary">$ {{pedido.costoTotalAPagar()}} </span> <button class="btn btn-info" style=" margin-left: 10px" type="button" ng-click="pedido.confirmarPedido()" >Confirmar Pedido</button>
    </div>

</div>
