<head>
    <meta charset="utf-8">
    <title>Confirmar Pedido</title>
    <link rel="stylesheet" type="text/css" href="../css/confirmarPedido.css">
</head>


<div class = "container">
    <header class="page-header">
        <h1>Pedido</h1>
        <h3>Pizzas</h3>
    </header>

    <div>

        <ul data-ng-repeat="plato in pedido.getCollecionDePlatos()">

            <button id="boton" type="submit" class="btn btn-default" ng-click="pedido.cancelarPlato(plato)">

                <label class="block" >
                    <div id="datos">
                        <h2>{{plato.nombreDePizza()}}</h2>
                        <h4>{{plato.nombreDeIngredientes()}}</h4>
                    </div>
                </label>
                <label>
                    <div id="precio">
                        <h3><span class="label label-primary">$ {{plato.getCalcularPrecioConIngredientes()}}</span></h3>
                    </div>
                </label>
                <label>
                    <div >
                        <h2>X</h2>
                    </div>
                </label>
            </button>

        </ul>
    </div>

    <div>

        <a ui-sref="pizzaSelector">Agregar otra Pizza</a>

        <hr>

        <h3>Aclaraciones</h3><br>
        <input size="150" ng-model="pedido.pedido.aclaracion" type="text" name="aclaraciones" placeholder="Escriba aqui su aclaracion" >
        <hr>
    </div>

    <div name = "contenedorRadioSelectors">
        <h3>Envio </h3><br>
        <form name= "radioSelectors">
            <input  style="float:left;" type="radio" ng-model="pedido.nombreDeRetiro" value="Local" name="formaDeEnvio" ng-click="pedido.crearFormaDeRetiro()" ><p>Por Local</p><br>

            <input  style="float:left;" type="radio" name="formaDeEnvio" ng-model="pedido.nombreDeRetiro" value="Delivery" ng-click="pedido.crearFormaDeRetiro()"><p  style="float:left;" > Delivery</p>
            <p style="float:left; margin-left: 10px">$ {{pedido.precioDeEnvio}} </p>  <input style=" margin-left: 10px" type="text" name="direccionDeDelivery" placeholder="Escriba aqui su direccion" ng-model="pedido.tipoDeFormaDeEnvio.direccion" ng-disabled="pedido.isNotDelivery()">
        </form>
    </div>
    <br>
    <hr>
    <div>
        <h3 style="float:left;"> Total A Pagar</h3> <h4 style="float:left; margin-left: 10px">$ {{pedido.costoTotalAPagar()}} </h4> <input style=" margin-left: 10px" type="button" ng-click="pedido.confirmarPedido()" value="Confirmar Pedido" ng-disabled="pedido.noHayPlatosNiFormaDeEnvio()">
    </div>
</div>
