	<head>
		<meta charset="utf-8">
		<title>ingredientesExtras</title>	

		<link rel="stylesheet" type="text/css" href="../css/ingredientesExtrasStyles.css">
<!--
		&lt;!&ndash; BOOTSTRAP &ndash;&gt;
 		<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
 		<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
 		<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>-->

	</head>

	<body>

		<div id="tamanioIngredientes">
            <input id="inputPrincipal" placeholder="  Tamaño > Ingredientes"><br>
        </div>

		<div id="titulo">
			<div id="tituloIzq">
				<label>{{promos.pepita()}}</label>
	          <label>{{promos.nombreDePizza}}</label>
	        </div>
	        <div id="tituloCenter">
				  <label><h3>{{promos.tamanioDePlato}}</h3></label>   </div>
	        </div>
	        <div id="tituloDer">
	        	<label><h3><span class="label label-primary">{{promos.precioTotalDelPlato}}</span></h3></label>
	        </div>
		</div>
<!--
			<div id="gral">

				<ul data-ng-repeat="distribucion in promos.listaDeDistribuciones">
				  
					<a id="ingredienteExtra" href="#" class="list-group-item list-group-item-info">
						<label id="begin">
							<h2>x</h2>
						</label>
						<label id="first">
							<h3>{{distribucion.ingrediente}}</h3>
						</label>
						<label id="second"> 
							<input type="radio" name="nombre" value="pizza.nombre"> {{distribucion.distribucion.d1}}<br>
							<input type="radio" name="desc"   value="pizza.descripcion"> {{distribucion.distribucion.d2}}<br>
							<input type="radio" name="precio" value="pizza.precio"> {{distribucion.distribucion.d3}}<br>
						</label>
		
					</a>
				  
				</ul>	

		</div>-->
<!--

		<div id="extras">
			
			<h3 id="extrasTitle">Extras</h3>
		    
			</br>
			<ul data-ng-repeat="ingrediente in promos.listaDeIngredientes">
				<p><a href="https://sites.google.com/site/programacionui/"> + {{ingrediente.nombre}}   (+{{ingrediente.precio}})</a></p>
			</ul>
			</br>
			<div class="btn-group">
          <button type="submit" class="btn btn-primary" ng-click="promos.continuar()">
            Continuar
          </button>
          </div>
		</div>
-->


	</body>

