<head>
    <meta charset="utf-8">
    <title>ingredientes Extras</title>

    <link rel="stylesheet" type="text/css" href="../css/ingredientesExtrasStyles.css">
<!--
    &lt;!&ndash; BOOTSTRAP &ndash;&gt;
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
-->
</head>

<body>

    <div id="tamanioIngredientes">
        <label id="inputPrincipal">"Tamaño > Ingredientes"</label>
        <!--<input id="inputPrincipal" placeholder="  Tamaño > Ingredientes"><br>-->
    </div>
    <div id="titulo">
        <div id="tituloIzq">
          <label>{{promos.nombreDePizza()}}</label>
        </div>
        <div id="tituloCenter">
              <label><h3>{{promos.nombreDeTamanio()}}</h3></label>
        </div>
        <div id="tituloDer">
            <label><h3><span class="label label-primary">{{promos.calcularPrecio()}}</span></h3></label>
            <!--<label><h3><span class="label label-primary">{{promos.precioTotalDelPlato}}</span></h3></label>-->
        </div>
    </div>
        <div id="gral">
            <h1>Ingredientes de la Pizza</h1>
            <ul data-ng-repeat="pairIng in promos.ingredientesDeLaPizza">
                <div>
                    <div>
                        <h1> {{pairIng.ingrediente.nombre}}</h1>
                    </div>
                    <form>
                        <input type="radio" name="distribucion" value="Mitad Izquierda"  ng-disabled="true" ng-checked="promos.estaEnDistribucion(pairIng,'Izquierda')"> Mitad Izquierda <br>
                        <input type="radio" name="distribucion" value="Toda la Pizza" ng-disabled="true" ng-checked="promos.estaEnDistribucion(pairIng,'Toda')"> Toda la Pizza<br>
                        <input type="radio" name="distribucion" value="Mitad Derecha" ng-disabled="true" ng-checked="promos.estaEnDistribucion(pairIng,'Derecha')"> Mitad Derecha <br>
                    </form>
                </div>
            </ul>
    </div>
    <div style="float:left ">
        <h1>Ingredientes Extras Elegidos</h1>
        <ul data-ng-repeat="ing in promos.platoEnConstruccion.ingredientesExtraConDist()">
            <h1>{{ ing.ingrediente.nombre}}</h1>
            <h1>{{ ing.ingrediente.precio}}</h1>
            <h1>{{ ing.distribucion}}</h1>
            <form>
                <input type="radio" name="distribucion" value="Izquierda" 	ng-model="ing.distribucion"> Mitad Izquierda <br>
                <input type="radio" name="distribucion" value="Toda"  		ng-model="ing.distribucion"> Toda la Pizza   <br>
                <input type="radio" name="distribucion" value="Derecha" 	ng-model="ing.distribucion"> Mitad Derecha   <br>
            </form>
            <button type="submit" name="quitarIngrediente" class="btn btn-primary" ng-click="promos.quitarIngredienteExtra(ing)" >
                quitar
            </button>
        </ul>
    </div>
    <div id="extras">
        <h3 id="extrasTitle">Extras</h3>
        <ul data-ng-repeat="ing in promos.ingredientesExtra">
            <h1>{{ ing.nombre}}</h1>
            <button type="submit" name="agregarIngrediente" class="btn btn-primary" ng-click="promos.agregarIngredienteExtra(ing)">
                Agregar
            </button>
        </ul>
    </div>

    <form class="btn-group" name="prueba">
        <button type="submit" name="goConfirmarPedido" class="btn btn-primary" ng-click="promos.finalizarPlato()"> Confirmar Pedido </button> <br>
    </form>

</body>

