<div class="container-fluid">

    <form>
        <div style="padding-bottom: 10px">
            <h3> Iniciar Sesion</h3>
        </div>
    </form>

    <form name="form1">
        <div class="form-group row">
            <label for="inputNick" class="col-sm-2 col-form-label">Usuario:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="logIn.nick" class="form-control mx-sm-3" id="inputNick" name="nick" placeholder="nombre de usuario" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password:</label>
            <div class="col-sm-10">
                <input type="password" ng-model="logIn.pass" class="form-control mx-sm-3" name="password" id="inputPassword" placeholder="Password" required>
            </div>
        </div>
    </form>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary" name="iniciarSesion"  ng-click="logIn.validUserCredentials()" ng-disabled="form1.nick.$invalid || form1.password.$invalid">Iniciar Sesión</button>
        <button type="button" class="btn btn-info" name="Registrarse" ng-click="logIn.goRegister()" >Registrarse</button>
    </div>

</div>
