
    <div class="container">



      <div class="well-lg">


        <form name="form1">

          <form>
            <div class="input-group" ng-data="usuario.nombre" type="text">
              <h2>{{usuario.userName}}</h2>
            </div>
          </form>

          <div class="form-group row">
            <label for="inputNick" class="col-sm-2 col-form-label">Nombre:</label>
            <div class="col-sm-10">
              <input type="text" ng-model="usuario.nombre" class="form-control mx-sm-3" id="inputNick" name="nick">
            </div>
          </div>

          <div class="form-group row">
            <label for="inputMail" class="col-sm-2 col-form-label">Mail:</label>
            <div class="col-sm-10">
              <input type="text" ng-model="usuario.mail" class="form-control mx-sm-3" id="inputMail" name="mail">
            </div>
          </div>

          <div class="form-group row">
            <label for="inputDir" class="col-sm-2 col-form-label">Direccion:</label>
            <div class="col-sm-10">
              <input type="text" ng-model="usuario.direccion" class="form-control mx-sm-3" id="inputDir" name="dir">
            </div>
          </div>

        </form>

        <br>

        <div class="btn-group">
          <button type="button" class="btn btn-primary" ng-click="usuario.guardarCambios()">
            Guardar
          </button>
        </div>

        <br/><br/>
        <hr>

        <form>
          <div class="input-group">
            <h2>Pedidos Anteriores</h2>
          </div>
        </form>

        <table class="table table-hover">
          <thead>
          <tr>
            <th>Pizzas</th>
            <th>Direccion</th>
            <th>Monto</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr data-ng-repeat="datosDePedido in usuario.datosDePedido">
            <td>{{datosDePedido.pizza()}}</td>
            <td>{{datosDePedido.direccion()}}</td>
            <td>$ {{datosDePedido.monto}}</td>
            <td><button type="submit" name="repetir" class="btn btn-primary" ng-click="usuario.repetirPedido(datosDePedido)">
              Repetir
            </button></td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>

