

<div class = "container-fluid">


        <label>
            <h1>Elige el tamanio de tu pizza</h1>
        </label>


        <ul data-ng-repeat="tamanio in customSize.tamanios">

            <button id="boton" type="submit" class="btn btn-default" ng-click="customSize.armarPizza(tamanio)">

                <label class="block">
                    <div id="datos">
                        <h2>{{tamanio.nombre}}</h2>

                    </div>
                </label>
                <label>
                    <div id="precio">
                        <h3><span class="label label-primary">$ {{customSize.aplicarFactorDeTamanioAlPrecioBase(tamanio)}}</span></h3>
                        <!--<h3><span class="label label-primary">$ {{tamanio.precio}}</span></h3>-->
                    </div>
                </label>
                <label>
                    <div id="imagen" >
                        <img src="../resources/imagenes/flechita.png" width="38" height="80">
                    </div>
                </label>
            </button>

        </ul>

</div>