<head>
		<meta charset="utf-8">
		<title>Seleccionador de Pizza</title>

		<link rel="stylesheet" type="text/css" href="../css/editarPizza1styles.css">

		<!-- BOOTSTRAP -->
 		<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
 		<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
 		<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>


</head>


<div>

		<div align="center">
		  <label>
			<h1>Elige tu pizza ideal</h1>
		  </label>

				<ul data-ng-repeat="pizza in customPizza.listaDePromos">


					<button id="boton" type="submit" class="btn btn-default" ng-click="customPizza.seleccionar(pizza)">

						<label class="block" >
							<div id="datos">
								<h2>{{pizza.nombre}}</h2>
								<h4>{{pizza.listaDeNombresIngredientes()}}</h4>
						    </div>
						</label>
						<label>
							<div id="precio">
					        	<h3><span class="label label-primary">$ {{pizza.precioBase}}</span></h3>
					        </div>
						</label>
						<label>
						    <div id="imagen" >
							    <img src="../resources/imagenes/flechita.png" width="38" height="80">
							</div>
						</label>
					</button>

				</ul>

<ul>
            <button id="boton" type="submit" class="btn btn-default" ng-click="customPizza.armaTuPizza()">

                <label class="block" >
                    <div id="datos">
                        <h2>Arma tu pizza</h2>
                        <h4>Con los ingredientes que mas te guste</h4>
                    </div>
                </label>
                <label>
                    <div id="precio">
                        <h3><span class="label label-primary">$ {{customPizza.precioBase}}</span></h3>
                    </div>
                </label>
                <label>
                    <div id="imagen" >
                        <img src="../resources/imagenes/flechita.png" width="38" height="80">
                    </div>
                </label>
            </button>
</ul>
		</div>


</div>

