<head>
	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../css/iniciarSesionStyles.css">
</head>

<div class = "container-fluid">
	<form>
		<div style="padding-bottom: 10px">
			<h3> Elige tu pizza ideal</h3>
		</div>
	</form>


	<div class="row">
		<div data-ng-repeat="pizza in customPizza.listaDePromos">
			<div  data-toggle="tooltip" title={{pizza.listaDeNombresIngredientes()}}>
				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3" >
					<div class="panel price panel-red">
						<div class="panel-heading arrow_box text-center">
							<h3>{{pizza.nombre}}</h3>
						</div>
						<div class="panel-body text-center">
							<p class="lead" style="font-size:40px"><strong>$ {{pizza.precioBase}}</strong></p>
						</div>
						<div class="panel-footer">
							<button type="button" class="btn btn-lg btn-block btn-info" name="seleccionar" ng-click="customPizza.seleccionar(pizza)" >Seleccionar</button>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

	<hr>

	<div style="float: right; padding-bottom: 17px">

		<button id="boton" type="submit" class="btn btn-default" ng-click="customPizza.armaTuPizza()">

			<label class="block" >
				<div id="datos">
					<h2>Arma tu propia pizza</h2>
					<h4>Con los ingredientes que mas te guste</h4>
				</div>
			</label>

			<label>
				<div id="precio">
					<h3><span class="label label-primary">$ {{customPizza.precioBase}}</span></h3>
				</div>
			</label>
		</button>
	</div>

</div>