<head>
    <!-- Css -->
    <link rel="stylesheet" type="text/css" href="../css/iniciarSesionStyles.css">
</head>

<div class = "container-fluid">
    <form>
        <div style="padding-bottom: 10px">
            <h3> Elige el tamanio de tu pizza</h3>
        </div>
    </form>

    <div class="row">
        <div data-ng-repeat="tamanio in customSize.tamanios">
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3" >
                <div class="panel price panel-blue">
                    <div class="panel-heading arrow_box text-center">
                        <h3>{{tamanio.nombre}}</h3>
                    </div>
                    <div class="panel-body text-center">
                        <p class="lead" style="font-size:40px"><strong>${{customSize.aplicarFactorDeTamanioAlPrecioBase(tamanio)}}</strong></p>
                    </div>
                    <div class="panel-footer">
                        <button type="button" class="btn btn-lg btn-block btn-info" name="seleccionar" ng-click="customSize.armarPizza(tamanio)" >Seleccionar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>