label {
	text-align: center;
	color: #100F45; 
	display: block; 
	width: 400px;
}

div#imagen {
	text-align: left;
	color: #100F45; 
	display: block; 
	//background-color: #DAE0AE;

	height: 70px;
	float:left;
}

button#boton {
	 width: 62em;  
	 height: 8em;
}

a {
    text-align: left;
}

div#precio{
	width: 100%;
	height: 70px;
	text-align: center;
	margin-top: 5px;
	//background-color: yellow;
	float:left;
}

div#datos{
	width: 100%;
	height: 70px;
	text-align: center;
	//margin-top: 0px;
	//background-color: yellow;
	float:left;
}

