.message {
    padding-left: 20px;
}

/* ANIMACIONES */
.example-animate-container {
    list-style: none;
    margin: 0;
    padding: 0 10px;
}

.animate-repeat {
    line-height: 40px;
    list-style: none;
    box-sizing: border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    -webkit-transition: all ease-in 1s;
    transition: all ease-in 1s;
}
/** linear, ease-out, ease-in, ease-in-out */

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    max-height: 0;
    height: 0;
    color: #ffffff;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    max-height: 40px;
    height: 40px;
    color: #000000;
}

/* Space out content a bit */
body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.header,
.marketing,
.footer {
    padding-right: 1rem;
    padding-left: 1rem;
}

/* Custom page header */
.header {
    padding-bottom: 1rem;
    border-bottom: .05rem solid #e5e5e5;
}


/* Custom page footer */
.footer {
    padding-top: 1.5rem;
    color: #777;
    border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {

}
.container-narrow > hr {
    margin: 2rem 0;
}


/* Supporting marketing content */
.marketing {
    margin: 3rem 0;
}
.marketing p + h4 {
    margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 2rem;
    }


}
