<!doctype html>
<html lang="en" ng-app="dominoApp">

<head>
    <meta charset="utf-8">
    <title>Domino Pizzas</title>

    <!-- Css -->
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <!-- JQUERY -->
    <script src="node_modules/jquery/dist/jquery.min.js"></script>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- ANGULAR -->
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="node_modules/angular-route/angular-route.min.js"></script>
    <script src="node_modules/angular-resource/angular-resource.min.js"></script>

    <!-- BOOTBOX (dialogos de confirmacion) http://bootboxjs.com/ -->
    <script src="node_modules/bootbox/bootbox.min.js"></script>

    <!-- ANGULAR  -->
    <script src="node_modules/angular-animate/angular-animate.js"></script>

    <!-- LOADING BAR -->
    <script src="node_modules/angular-loading-bar/build/loading-bar.min.js"></script>
    <link rel="stylesheet" href="node_modules/angular-loading-bar/build/loading-bar.min.css"/>

    <!-- UNDERSCORE -->
    <script src="node_modules/underscore/underscore-min.js"></script>


</head>

<body>

<div class="container">

    <!-- Mensajes-->
    <div  class="header clearfix">

    <div ng-controller="SessionCrl as ses" class="row">
        <ul class="example-animate-container">
            <li class="message bg-success animate-repeat" data-ng-repeat="msg in ses.notificacionesDuranteLaSesion">{{msg}}</li>
        </ul>
        <ul class="example-animate-container">
            <li class="alert alert-danger animate-repeat" data-ng-repeat="error in ses.erroresDuranteLaSesion">{{error}}</li>
        </ul>
    </div>

    <div >
        <img style="max-width: 500px; margin-top: -7px;" src="imagen/i.jpg">

        <nav ng-controller="SessionCrl as user" ng-show="user.hayUsuarioLogeado()">
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <a class="nav-link" ui-sref="perfilUsuario">PerfilUsuario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref="pizzaSelector">Menu</a>
                </li>
            </ul>
        </nav>

    </div>
    </div>

    <main role="main">
        <div ui-view></div>
    </main>

    <footer class="footer">
        <p>© ACaraDePerro 2017</p>
    </footer>

</div>


<!-- nuestra aplicacion js -->

<script src="models/EnumFormaEnvio.js"></script>
<script src="models/DistribucionEnPizza.js"></script>
<script src="models/FormaDeRetiro.js"></script>
<script src="models/Ingrediente.js"></script>
<script src="models/PairIngredienteDistribucionPizza.js"></script>
<script src="models/Pedido.js"></script>
<script src="models/Pizza.js"></script>
<script src="models/Plato.js"></script>
<script src="models/Sesion.js"></script>
<script src="models/Tamanio.js"></script>
<script src="models/User.js"></script>

<script src="js/dominoApp.js"></script>
<script src="js/routes.js"></script>

<script src="js/controllers/iniciarSesion.js"></script>
<script src="js/controllers/perfilUsuario.js"></script>
<script src="js/controllers/registrarse.js"></script>
<script src="js/controllers/customPizza.js"></script>
<script src="js/controllers/sizePizza.js"></script>
<script src="js/controllers/listaPromos.js"></script>
<script src="js/controllers/confirmarPedido.js"></script>

<script src="js/services/UserService.js"></script>
<script src="js/services/ErrorHandlerService.js"></script>
<script src="js/services/sesionService.js"></script>
<script src="js/services/pizzaService.js"></script>
<script src="js/services/tamanioService.js"></script>
<script src="js/services/ingredienteService.js"></script>
<script src="js/services/pedidosService.js"></script>
<script src="js/services/platoService.js"></script>
<script src="js/services/formaDeRetiroService.js"></script>


</body>
</html>

