<!doctype html>
<html lang="en" ng-app="registrarseApp">

  <head>
    <meta charset="utf-8">
    <title>Registrarse</title>

    <link rel="stylesheet" type="text/css" href="styles.css">

    <!-- JQUERY -->
    <script src="node_modules/jquery/dist/jquery.min.js"></script>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">

    <!-- ANGULAR  -->
    <script src="node_modules/angular/angular.min.js"></script>
  </head>


  <body ng-controller="UsuarioCtrl as usuario">

    <div class="container">

      <div class="well-lg">

        <form>
          <div>
            <h2>Registrarse</h2>
          </div>
        </form>

        <div  class="panel-body">
            <label>Usuario:</label> <input ng-model="usuario.userName" type="text" placeholder="usuario">
        </div>

        <div  class="panel-body">
            <label>Contraseña:</label> <input ng-model="usuario.contrasenia" type="password" placeholder="contraseña">
        </div>

        <div  class="panel-body">
            <label>Repita contraseña:</label> <input ng-model="usuario.repitaContrasenia" type="password" placeholder="contraseña">
        </div>

        <div  class="panel-body">
            <label>Nombre:</label> <input ng-model="usuario.nombre" type="text" placeholder="nombre">
        </div>

        <div  class="panel-body">
            <label>Mail:     </label> <input ng-model="usuario.mail" type="text" placeholder="mail">
        </div>

        <div  class="panel-body">
            <label>Direccion:</label> <input ng-model="usuario.direccion" type="text" placeholder="direccion">
        </div>

        <br/>

        <div class="btn-group">
          <button type="submit" class="btn btn-primary" ng-click="usuario.registrarse()">
            Registrarse
          </button>
        </div>

        <br/><br/>

        <div>
          <p><a href="https://sites.google.com/site/programacionui/">O puedes ingresar como INVITADO</a></p>
        </div>


          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="user1 in usuario.listaDeUsuarios">
              <td>{{user1.user}}</td>
              <td>{{user1.mail}}</td>
              <td>{{user1.nombre}}</td>
              <td>{{user1.direccion}}</td>
              <td>{{user1.contrasenia}}</td>
            </tr>
            </tbody>
          </table>

      </div>
    </div>

    <!-- JS -->
    <script src="app.js"></script>

  </body>
</html>

