<head>
		<meta charset="utf-8">
		<title>Editar Pizza</title>

		<link rel="stylesheet" type="text/css" href="../css/editarPizza1styles.css">

  		<!-- JQUERY -->
 		<script src="../node_modules/jquery/dist/jquery.min.js"></script>

		<!-- BOOTSTRAP -->
 		<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
 		<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
 		<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

 		<!-- ANGULAR  -->
		<script src="../node_modules/angular/angular.min.js"></script>


</head>

<div data-ng-controller="PromoController as promos">

		<div align="center">
		  <label>
			<h1>Elige tu Pizza ideal</h1>
		  </label>
				<ul data-ng-repeat="pizza in promos.listaDePromos">
			
					<button id="boton" type="submit" class="btn btn-default" ng-click="promos.seleccionar({pizza})">
						
						<label class="block" >
							<div id="datos">
								<h2>{{pizza.nombre}}</h2>
							   <h4>{{pizza.descripcion}}</h4>
						    </div>
						</label>
						<label> 
							<div id="precio">
					        	<h3><span class="label label-primary">$ {{pizza.precio}}</span></h3>
					        </div>
						</label>
						<label>
						    <div id="imagen" >
							    <img src="../imagenes/flechita.png" width="38" height="80">
							</div>
						</label>	
					</button>

				</ul>	
		</div>


		<!-- nuestro jscript -->
		<script src="../js/editarPizza1.js"></script>

</div>

