
<head>
    <link rel="stylesheet" type="text/css" href="../css/iniciarSesionStyles.css">
</head>

<div>

    <div class="container">
        <form>
            <div>
                <h2>Iniciar Sesion</h2>
            </div>
        </form>

        <!--Preguntar sobre manejo de errores-->
        <div  class="panel-body" name="panelForm">
            <form name="form1">
                <label>Usuario: </label> <input ng-focus="form3.$submitted= false" ng-model="logIn.nick" type="text" name="nick" placeholder="nombre de usuario" required>
            </form>
            <form class="panel panel-default" name="form2">
                <label>Contraseña: </label>  <input ng-focus="form3.$submitted= false" ng-model="logIn.pass" type="password" name="password" placeholder="contraseña" required>
            </form>
            <form class="btn-group" name="form3">
                <button type="submit" name="iniciarSesion" class="btn btn-primary" ng-click="logIn.chequear()" ng-disabled="form1.nick.$invalid || form2.password.$invalid" >Iniciar Sesión</button> <br>
            </form>
            <form>
                <br>
                <button type="submit" name="Registrarse" class="btn btn-primary" ng-click="logIn.goRegister()">registrarse</button>
            </form>
            <div>
                <div class="alert alert-danger" ng-show="logIn.userNotFound() && form3.$submitted">
                    <p> No se encontro el usuario!</p>
                </div>
                <div class="alert alert-danger" ng-show="!logIn.userNotFound() && form3.$submitted && logIn.incorrectPassword()">
                    <p> El password es incorrecto!</p>
                </div>
            </div>


            <!-- Esto esta para probar la ventana, retirar luego -->
            <form class="btn-group" name="prueba">
                <button type="submit" name="botonPrueba" class="btn btn-primary" ng-click="logIn.confirmarPedido()"> Confirmar Pedido </button> <br>
            </form>

        </div>


    </div>
</div>