<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Domino Pizzas Inicio de Sesion</title>
    <link rel="stylesheet" type="text/css" href="../css/iniciarSesionStyles.css">


    <!-- JQUERY -->
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- ANGULAR  -->
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="../node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>

    <!-- UNDERSCORE -->
    <script src="../node_modules/underscore/underscore-min.js"></script>
</head>

<body>
<div data-ng-controller="SesionController as sesion">
<div class="container">
        <form>
          <div>
            <h2>Iniciar Sesion</h2>
          </div>
        </form>
      <div  class="panel-body">
        <div>
          <label>Usuario: </label> <input ng-model="sesion.name" type="text" name="nick" placeholder="nombre de usuario">
        </div>
        <div class="panel panel-default">
          <label>Contraseña: </label>  <input ng-model="sesion.pass" type="password" name="password" placeholder="contraseña">
        </div>
        <div class="btn-group">
          <button type="submit" name="Iniciar Sesion" class="btn btn-primary" ng-click="sesion.chequear()">Iniciar Sesión</button> <br><br>

            <button type="submit" name="Registrarse" class="btn btn-primary" ng-click="sesion.irARegistrarse()">registrarse</button>
        </div>

        </br></br></br></br></br>

          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th>Usuario</th>
              <th>Contrasenia</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="user in sesion.listaDeUsuarios">
              <td>{{user.nick}}</td>
              <td>{{user.password}}</td>
            </tr>
            </tbody>
          </table>



     </div>

              <h2>{{sesion.inicio}}</h2>
    
    </div>

  </div>
</body>
</html>