
<head>
    <link rel="stylesheet" type="text/css" href="../css/iniciarSesionStyles.css">
</head>

<div>

    <div class="container">
        <form>
            <div>
                <h2>Iniciar Sesion</h2>
            </div>
        </form>

        <!--Preguntar sobre manejo de errores-->
        <div  class="panel-body">
            <div>
                <label>Usuario: </label> <input ng-model="sesion.nick" type="text" name="nick" placeholder="nombre de usuario">
            </div>
            <div class="panel panel-default">
                <label>Contraseña: </label>  <input ng-model="sesion.pass" type="password" name="password" placeholder="contraseña">
            </div>
            <form class="btn-group">
                <button type="submit" name="iniciarSesion" class="btn btn-primary" ng-click="sesion.chequear()" >Iniciar Sesión</button> <br>
                <br>
                <button type="submit" name="Registrarse" class="btn btn-primary" ng-click="sesion.irARegistrarse()">registrarse</button>
            </form>


        </div>


    </div>
</div>