<?xml version="1.0" encoding="utf-8"?>
<!--Aca Declaras todos los activitys que vas a usar. -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.edu.unq.ciu.acaradeperro.tp3.pedidosanteriores">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PedidoAnteriorListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PedidoAnteriorDetailActivity"
            android:label="@string/title_pedidoanterior_detail"
            android:parentActivityName=".PedidoAnteriorListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.edu.unq.ciu.acaradeperro.tp3.pedidosanteriores.PedidoAnteriorListActivity" />
        </activity>
<!--
        <activity
            android:name=".DatosDeUsuarioActivity"
            android:label="@string/DatosDeUsuario"
            android:parentActivityName=".PedidoAnteriorListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.edu.unq.ciu.acaradeperro.tp3.pedidosanteriores.PedidoAnteriorListActivity" />
        </activity>
-->
    </application>

</manifest>